

        <section class="contact">
            <div class="title text-center p-1 mb-5">
                <h2 class="main-title text-white">Contact me</h2>
              </div>

              <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="contact-info position-relative text-white" data-aos="fade-right"
                        data-aos-offset="300"
                        data-aos-easing="ease-in-sine">
                            <h2 class="fs-1 pb-2">Get in touch</h2>
                            <p class=" line-height">I’m currently looking for any new opportunities, my inbox is always open. Whether you have a question or just want to say hi, I’ll try my best to get back to you!</p>

                            <div class="mt-4 icons">
                                <p><i class="fa-solid fa-signature"></i> <span>Mohamed Mohamed Mostafa KamaL</span></p>
                                <p class="py-2"><i class="fa-solid fa-mobile-screen-button"></i> +201006947709</p>
                                <p class=""><i class="fa-solid fa-envelope"></i> mk502170@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="contact-form text-white">
                            <form [formGroup]="contactForm" action="javascript:void(0)" (submit)="send()">
                                <div>
                                    <label for="name">Full Name:</label>
                                    <input type="text" formControlName="from_name" id="name" name="user-name" class="form-control mt-2" required>
                                </div>
                                <div class="py-3">
                                    <label for="email">Email:</label>
                                    <input type="email" formControlName="from_email" id="email" name="email" class="form-control mt-2" required>
                                </div>
                                <div>
                                    <label for="sub">Subject:</label>
                                    <input type="text" formControlName="subject" id="sub" name="subject" class="form-control mt-2" required>
                                </div>
                                <div class="my-3">
                                    <label for="Msg">Message:</label>
                                    <textarea name="message" formControlName="message" id="Msg" class=" mt-2 form-control"></textarea>
                                </div>
                           
                                <button type="submit" [disabled]="contactForm.invalid" class="btn btn-primary px-5 py-2 d-block mx-auto">Send Message</button>
                            </form>
                        </div>
                    </div>
                </div>
              </div>






        </section>