<section class="about" id="about">
  <div class="title text-center p-1">
    <h2 class="main-title">About me</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="content d-flex align-items-center justify-content-between">

        <div class="col-md-6">
          <div class="img2" data-aos="fade-up-right" data-aos-duration="1500">
            <img src="assets/aboute-me.png" class="w-100" alt="myImag" />
          </div>
        </div>

        <div class="col-md-6">
          <div class="info position-relative" data-aos="fade-up"
          data-aos-duration="3000">
            <h2 class="mb-4">
              Who am I?
            </h2>
            <p class=" line-height">
              Hello again! I am happy to see you here. My name is Mohamed Kamal, I 'm a 24 years old and i am junior frontend developer angular based in Egypt.<br/>
              I graduated from Obour high Institute (MIS).<br/>
            </p>
            <p class="my-3 line-height">Over the past couple of years, I effectively managed to learn how to deliver a great web user experiences with combination of creativity,
              technical capability, highly attention to details, and deeply understanding of user psychology.<br/></p>
            <p>I am available for freelancing work. Have a project in mind or just passionate about web development? Feel free to reach out!
            </p>
          </div>

          <div class="btn-box my-4" >
            <a [routerLink]="['/contact']" class="butt">Let's Talk.. <i class="fa-solid fa-tower-cell fa-beat-fade"></i></a>
          </div>
        </div>



      </div>
    </div>
  </div>
</section>

<section class="service">
  <div class="container">
      <div class="row g-4">
        <div class="title text-center position-relative">
          <h2 class="fs-2 fw-bold" data-aos="zoom-in">Why me?</h2>
          <p class="fs-5  mb-4">What can I offer for you?</p>
        </div>

          <div class="col-md-6 col-xl-4">
              <div class="card one-card" data-aos="fade-right"
              data-aos-offset="300"
              data-aos-easing="ease-in-sine">
                  <mat-card class="example-card" >
                    <div class="img-card w-50  mx-auto">
                      <img src="assets/img/about/Development-b74y5GsA.svg" class="w-100" alt="">
                    </div>
                      <mat-card-header class="mx-auto">
                        <mat-card-title class="fs-4 fw-bold my-2 ">Web Development</mat-card-title>
                      </mat-card-header>
                      <mat-card-content class="text-center">
                        <p class="fs-5 text-muted mb-3">I am excited to develop my skills in it, My journey in development continues.</p>
                        <mat-divider></mat-divider>
                      </mat-card-content>
                      <mat-card-footer>
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                      </mat-card-footer>
                    </mat-card>
                    
              </div>
          </div>
          <div class="col-md-6 col-xl-4">
              <div class="card two-card" >
                  <mat-card class="example-card">
                    <div class="img-card w-75  mx-auto">
                      <img src="assets/img/about/Responsive-nLLYj26P.svg" class="w-100" alt="">
                    </div>
                      <mat-card-header class="mx-auto">
                        <mat-card-title class="fs-4 fw-bold my-2 ">Responsive Design</mat-card-title>
                      </mat-card-header>
                      <mat-card-content class="text-center">
                        <p class="fs-5 text-muted mb-3">Creating websites that adapt effectively with various screen sizes and devices.</p>
                        <mat-divider></mat-divider>
                      </mat-card-content>
                      <mat-card-footer>
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                      </mat-card-footer>
                    </mat-card>
                    
              </div>
          </div>

          <div class="col-md-6 col-xl-4">
              <div class="card one-card" data-aos="fade-left"
              data-aos-offset="300"
              data-aos-easing="ease-in-sine">
                  <mat-card class="example-card">
                    <div class="img-card w-50 mx-auto">
                      <img src="assets/img/about/Accessibility-bCWal0GA.svg" class="w-100" alt="">
                    </div>
                      <mat-card-header class="mx-auto">
                        <mat-card-title class="fs-4 fw-bold my-2 ">Accessibility standards</mat-card-title>
                      </mat-card-header>
                      <mat-card-content class="text-center">
                        <p class="fs-5 text-muted mb-3">Everyone should be able to easily understand what you want to show them, under any circumstances.</p>
                        <mat-divider></mat-divider>
                      </mat-card-content>
                      <mat-card-footer>
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                      </mat-card-footer>
                    </mat-card>
                    
              </div>
          </div>
          <div class="col-md-6 col-xl-4">
              <div class="card two-card" data-aos="fade-up">
                  <mat-card class="example-card">
                    <div class="img-card w-50  mx-auto">
                      <img src="assets/img/about/Goal-D6SALu41.svg" class="w-100" alt="">
                    </div>
                      <mat-card-header class="mx-auto">
                        <mat-card-title class="fs-4 fw-bold my-2 ">Continuous learning</mat-card-title>
                      </mat-card-header>
                      <mat-card-content class="text-center">
                        <p class="fs-5 text-muted mb-3">As hard as I can, I'm trying to stay up-to-date with latest trends, technologies, and best practices in frontend development.
                        </p>
                        <mat-divider></mat-divider>
                      </mat-card-content>
                      <mat-card-footer>
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                      </mat-card-footer>
                    </mat-card>
                    
              </div>
          </div>
          <div class="col-md-6 col-xl-4">
              <div class="card one-card" data-aos="fade-up">
                  <mat-card class="example-card">
                    <div class="img-card-last  mx-auto ">
                      <img src="assets/img/about/Curious-BtMrNHwp.svg" class="w-100" alt="">
                    </div>
                      <mat-card-header class="mx-auto">
                        <mat-card-title class="fs-4 fw-bold my-2 ">Attention to details</mat-card-title>
                      </mat-card-header>
                      <mat-card-content class="text-center">
                        <p class="fs-5 text-muted mb-3 ">Delivering a pixel-perfect websites is crucial part in frontend development.</p>
                        <mat-divider></mat-divider>
                      </mat-card-content>
                      <mat-card-footer>
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                      </mat-card-footer>
                    </mat-card>
                    
              </div>
          </div>



      </div>
  </div>
</section>

<app-certificate></app-certificate>