

<footer class="foot">
<div class="container">
    <div class="row">
        <div class="text-center">
            <h2>Made with love by me, <span>Mohamed Kamal</span></h2>
            <p class="mb-4 fs-6 text-white">© 2024-present, All Rights Reserved.</p>
    
            <div class="social d-flex justify-content-center align-items-center">
                    <ul class="d-flex">
                        <li><a href="https://github.com/Mo7amed-kamal" target="_blank"><i class="fa-brands fa-github"></i> Github</a></li>
                        <li><a href="https://www.linkedin.com/in/mohamed-kamal-b819b3258/" target="_blank"><i class="fa-brands fa-linkedin-in"></i> Linkedin</a></li>
                        <li><a href="https://wa.me/+201006947709" target="_blank"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a></li>
                    </ul>
            </div>
        </div>
    </div>
</div>
</footer>