<section class="portfolio-parent py-5 text-center">
    <div class="info py-5">
      <h2 class="fw-bold">My Certificates</h2>
  
      <div class="d-flex justify-content-center align-items-center color mt-3">
        <div class="line me-3"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line ms-3"></div>
      </div>
    </div>
  
    <div class="container">
      <div class="row g-3">
        <div class="col-md-6 col-xl-4">
          <div
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
            class="portfolio-item position-relative cursor-pointer"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            <figure>
              <img src="assets/img/certificate/route2.PNG" class="w-100" alt="" />
            </figure>
            <figcaption class="layer d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-magnifying-glass-plus"></i>
            </figcaption>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div
     
            class="portfolio-item position-relative cursor-pointer"
            data-bs-toggle="modal"
            data-bs-target="#Modal2"
          >
            <figure>
              <img src="assets/img/certificate/Jordan.jpg" class="w-100" alt="" />
            </figure>
            <figcaption
              class="layer d-flex justify-content-center align-items-center"
            >
            <i class="fa-solid fa-magnifying-glass-plus"></i>
        </figcaption>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div
          data-aos="fade-left"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
            class="portfolio-item position-relative cursor-pointer"
            data-bs-toggle="modal"
            data-bs-target="#Modal3"
          >
            <figure>
              <img src="assets/img/certificate/english.jpg" class="w-100" alt="" />
            </figure>
            <figcaption
              class="layer d-flex justify-content-center align-items-center"
            >
            <i class="fa-solid fa-magnifying-glass-plus"></i>
        </figcaption>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
            class="portfolio-item position-relative cursor-pointer"
            data-bs-toggle="modal"
            data-bs-target="#Modal4"
          >
            <figure>
              <img src="assets/img/certificate/front.jpg" class="w-100" alt="" />
            </figure>
            <figcaption
              class="layer d-flex justify-content-center align-items-center"
            >
            <i class="fa-solid fa-magnifying-glass-plus"></i>
        </figcaption>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div
          data-aos="fade-up"
     data-aos-duration="3000"
            class="portfolio-item position-relative cursor-pointer"
            data-bs-toggle="modal"
            data-bs-target="#Modal5"
          >
            <figure>
              <img src="assets/img/certificate/it.jpg" class="w-100" alt="" />
            </figure>
            <figcaption
              class="layer d-flex justify-content-center align-items-center"
            >
            <i class="fa-solid fa-magnifying-glass-plus"></i>
        </figcaption>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
            class="portfolio-item position-relative cursor-pointer"
            data-bs-toggle="modal"
            data-bs-target="#Modal6"
          >
            <figure>
              <img src="assets/img/certificate/photoShop.jpg" class="w-100" alt="" />
            </figure>
            <figcaption
              class="layer d-flex justify-content-center align-items-center"
            >
            <i class="fa-solid fa-magnifying-glass-plus"></i>
        </figcaption>
          </div>
        </div>
      </div>
  
      <!-- !!!Model img One -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <i class="fa-solid fa-xmark fs-2 text-info"></i>
              </button>
            </div>
  
            <div class="modal-body p-0">
              <img src="assets/img/certificate/route2.PNG" class="w-100" alt="" />
            </div>
          </div>
        </div>
      </div>
      <!--^^ Model img Two -->
      <div
        class="modal fade"
        id="Modal2"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <i class="fa-solid fa-xmark fs-4 text-info"></i>
              </button>
            </div>
  
            <div class="modal-body p-0">
              <img src="assets/img/certificate/Jordan.jpg" class="w-100" alt="" />
            </div>
          </div>
        </div>
      </div>
      <!--*** Model img Three -->
      <div
        class="modal fade"
        id="Modal3"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <i class="fa-solid fa-xmark fs-4 text-info"></i>
              </button>
            </div>
  
            <div class="modal-body p-0">
              <img src="assets/img/certificate/english.jpg" class="w-100" alt="" />
            </div>
          </div>
        </div>
      </div>
      <!--^^ Model img Four -->
      <div
        class="modal fade"
        id="Modal4"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <i class="fa-solid fa-xmark fs-4 text-info"></i>
              </button>
            </div>
  
            <div class="modal-body p-0">
              <img src="assets/img/certificate/front.jpg" class="w-100" alt="" />
            </div>
          </div>
        </div>
      </div>
      <!--^^ Model img Five -->
      <div class="modal fade"
        id="Modal5"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <i class="fa-solid fa-xmark fs-4 text-info"></i>
              </button>
            </div>
  
            <div class="modal-body p-0">
              <img src="assets/img/certificate/it.jpg" class="w-100" alt="" />
            </div>
          </div>
        </div>
      </div>
      <!--&&&& Model img Six -->
      <div
        class="modal fade"
        id="Modal6"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <i class="fa-solid fa-xmark fs-4 text-info"></i>
              </button>
            </div>
  
            <div class="modal-body p-0">
              <img src="assets/img/certificate/photoShop.jpg" class="w-100" alt="" />
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>
  