<section class="home" id="home">
  <div class="hero-info " >
    <h3 >WELCOME TO MY WORLD</h3>
    <h1  data-aos="fade-right"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine">Hi I'm Mohamed Kamal</h1>

    <div class="text-animeted" data-aos="fade-right"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine">
      <h2>Frontend Developer</h2>
    </div>

    <p data-aos="fade-right"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine">
      I'm Junior Front-End Developer Angular framework and a passion for
      creating visually appealing and user-centric web experiences and dedicated
      to continuous learning, Welcome to my Portfolio.
    </p>

    <div class="btn-box">
      <a [routerLink]="['/contact']" class="butt"
        >Contact my! <i class="fa-solid fa-arrow-right"></i></a>
      <a
        target="_blank"
        href="assets/Mohamed-Kamal-Frontend.pdf"
        class="butt d-CV"
        >Download Cv <i class="fa-solid fa-download"></i
      ></a>
    </div>

    <div class="social-media" >
      <div class="icon">
        <a target="_blank" href="https://www.instagram.com/mo7amedkamal8/"
          ><i class="fa-brands fa-instagram"></i>
        </a>
        <span></span>
      </div>

      <div class="icon">
        <a
          target="_blank"
          href="https://github.com/Mo7amed-kamal?tab=repositories"
          ><i class="fa-brands fa-github"></i>
        </a>
        <span></span>
      </div>

      <div class="icon">
        <a
          target="_blank"
          href="https://www.linkedin.com/in/mohamed-kamal-b819b3258/"
          ><i class="fa-brands fa-linkedin-in"></i>
        </a>
        <span></span>
      </div>
      <div class="icon">
        <a target="_blank" href="https://www.facebook.com/mo7med.kamal/"
          ><i class="fa-brands fa-facebook"></i>
        </a>
        <span></span>
      </div>
    </div>
  </div>

  <div class="hero-img" data-aos="fade-down"
  data-aos-easing="linear"
  data-aos-duration="1500">
    <img src="assets/img/hero-removebg .png" alt="" />
    <div class="rotate-text">
      <div class="text" #text>
      </div>
      <span><i></i></span>
    </div>
  </div>
</section>
