a{
    text-decoration: none;
}
section{
    padding: 90px 8%;
}
.home{
    padding-top: 100px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 4em;
    background: var(--gradient-white-bg2);
}

.hero-img{
    position: relative;
    animation: floatImage 4s ease-in-out infinite;
    animation-delay: 3s;
}
.hero-img img{
    width: 400px;
    position: relative;
    height: auto;
    z-index: 10;
}
.rotate-text{
    position: absolute;
    top: 4%;
    left: -53px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2rem;
}

.rotate-text span{
    position: relative;
    width: 442px;
    height: 442px;
    background: red;
    border: 6px solid #eaeef0;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.rotate-text span::before{
    content: "";
    position: absolute;
    inset: 20px;
    background: #00aaff;
    border-radius: 50%;
    z-index: 1;
}

.rotate-text span i{
    position: absolute;
    inset: 0;
    background: var(--gradient-color-bg);
    filter: blur(5px);
    animation: animate 2s linear infinite;
}


.rotate-text .text{
    position: absolute;
    width: 490px;
    height: 490px;
    background: #f2f6fb;
    border-radius: 50%;
    box-shadow: 0 1px 6px 5.94px rgba(0,0,0,0.2);
    animation: rotateText 30s linear infinite;
}




/* **---------- */
.hero-info h3{
    color: var(--font-color);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.hero-info h1{
    font-size: 2.8rem;
    font-weight: bold;
}
.hero-info h1::selection,
.hero-info p::selection{
    color: white;
    background: var(--main-color);
}
.text-animeted{
    width: 22.8rem;
    position: relative;
}

.text-animeted h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: transparent;
    -webkit-text-stroke: 0.1vw #770753;
    background: var(--gradient-color-bg);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
    transition: .6s;
    letter-spacing: 2px;
    animation: moveText 3s linear infinite;
    animation-delay: 2s;
}

.text-animeted h2::before{
    content: "";
    position: absolute;
    top: 7px;
    left: -3px;
    width: 0;
    height: 70%;
    border-right: 2px solid var(--main-color);
    animation: moveCursorText 3s linear infinite;
    animation-delay: 2s;
}

.hero-info p{
    font-size: 1.1rem;
    color: var(--font-color);
    line-height: 1.5rem;
}

.btn-box{
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.btn-box .butt{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.btn-box .d-CV{
    background: var(--gradient-white-bg2);
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    color: #000;
    box-shadow: rgba(60,64,67,0.3)0px 1px 2px 0,
                rgba(60,64,67,0.15)0px 2px 6px 2px;
    transition: all .3s ease;
}
.btn-box .d-CV:hover{
    box-shadow: var(--hover-box-shadow);
}
.social-media{
    display: flex;
    justify-content: space-between;
    width: 220px;
    height: 45px;
}

.social-media a{
    width: 42px;
    height: 42px;
    font-size: 1.5rem;
    color: var(--main-color);
    background: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    border-radius: 50%;
    z-index: 1;
}


.social-media a:hover{
    background: var(--gradient-color-bg);
    color: #fff;
}

.icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon span{
    position: absolute;
    width: 50px;
    height: 50px;
    background: var(--gradient-color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
}



/* &&------------Animations keyFrams-------- */
@keyframes moveText{
    0%,10%,100%{
        background-position: -24rem 0;
    }

    65%,85%{
        background-position: 0rem 0;
    }
}

@keyframes moveCursorText{
    0%,10%,100%{
        width: 0;
    }

    65%,78%,85%{
        width: 100%;
        opacity: 1;
    }

    75%,85%{
        opacity: 0;
    }
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes rotateText{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes progress{
   to{
    stroke-dashoffset: var(--target);
   }
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-22px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
}
}


/* Media Query */
@media(max-width:1200px){
    html{
        font-size: 95%;
    }
}
@media(max-width:991px){
    .home{
        flex-direction: column-reverse;
    }
    .home .hero-info {
        margin-top: 20px;
    }
    .home .hero-info h1 {
        font-size: 2rem;
    }

}
@media(max-width:530px){
    html{
        font-size: 70%;
    }
    .text-animeted{
        width: 22.8rem;
    }
    .social-media{
        margin: auto;
    }
    .hero-img{
        margin-top: 15px;
    }
    .hero-img img{
        width: 321px;
    }
    .rotate-text .text{
        width: 320px;
        height: 320px;
    }
    .rotate-text span{
    width: 350px;
    height: 350px;
    }
    .hero-info {
        padding-left: 20px;
    }
}