
    <section class="projects">
        <div class="title text-center p-1">
            <h2 class="main-title text-white">My Projects</h2>
          </div>



        <div class="container">
            <div class="row g-3">

                <div class="intro-page text-center my-4">
                    <h3 data-aos="fade-up"
                    data-aos-duration="3000">My Recent <span class="position-relative">works!</span></h3>
                </div>

                <div class="col-md-6 col-xl-4">
                    <mat-card class="example-card rounded-4">
                        <div class="image-card w-100 ">
                            <img mat-card-image src="assets/img/blog/e-commerce.PNG" class="w-100" alt="e-commerce Photo">
                        </div>
                        <mat-card-content class="my-2 card-content">
                                <h2 class="text-center">E-Commerce FreshCart</h2>
                                <div class="project-tech">
                                    <h3 class="fs-5 fw-bold">Technologies:</h3>
                                    <p class="d-inline-block mb-0 px-1">HTML5</p>
                                    <p class="d-inline-block mb-0 px-1">CSS3</p>
                                    <p class="d-inline-block mb-0 px-1">TypeScript</p>
                                    <p class="d-inline-block mb-0 px-1">bootstrap5</p>
                                    <p class="d-inline-block mb-0 px-1">angular16</p>
                                    <p class="d-inline-block mb-0 px-1">Angular Material</p>
                                    <p class="d-inline-block mb-0 px-1">Primeng</p>
                                </div>
                                <div class="card-discrapion mt-3">
                                    <h4 class="fs-4 text-center fw-bold">Discription</h4>
                                    <p class=" fs-6">A creative e-commerce platform designed to provide users with a seamless shopping experience,<br/>Built with HTML, CSS, TypeScript Angular Bootstrap Angular NgxPaginationModule</p>
                                </div>
                        </mat-card-content>
                        <mat-card-actions>
                                <div class="butoons mx-auto d-flex gap-3 mb-2">
                                    <a class="btn btn-primary" href="https://github.com/Mo7amed-kamal/Final-FreshCart" target="_blank"><i class="fa-brands fa-github"></i> Github</a>
                                    <a class="btn btn-primary" href="https://mo7amed-kamal.github.io/Final-FreshCart/#/home" target="_blank"><i class="fa-solid fa-eye"></i> Demo</a>
                                </div>
                        </mat-card-actions>
                      </mat-card>

                      
                </div>
                <div class="col-md-6 col-xl-4">
                    <mat-card class="example-card rounded-4">
                        <div class="image-card w-100 ">
                            <img mat-card-image src="assets/img/blog/yummu.PNG" class="w-100" alt="yummy Photo">
                        </div>
                        <mat-card-content class="my-2 card-content">
                                <h2 class="text-center">Yummy Food</h2>
                                <div class="project-tech">
                                    <h3 class="fs-5 fw-bold">Technologies</h3>
                                    <p class="d-inline-block mb-0 px-1">HTML5</p>
                                    <p class="d-inline-block mb-0 px-1">CSS3</p>
                                    <p class="d-inline-block mb-0 px-1">JavaScript</p>
                                    <p class="d-inline-block mb-0 px-1">bootstrap5</p>
                                    <p class="d-inline-block mb-0 px-1">Jquery</p>
                           
                                </div>
                                <div class="card-discrapion mt-3">
                                    <h4 class="fs-4 text-center fw-bold">Discription</h4>
                                    <p class=" fs-6">A recipe website is a platform where users discover diverse cooking instructions. These sites feature a wide array of recipes categorized by region, ingredient, and meal type.</p>
                                </div>
                        </mat-card-content>
                        <mat-card-actions>
                                <div class="butoons mx-auto d-flex gap-3 mb-2">
                                    <a class="btn btn-primary" href="https://github.com/Mo7amed-kamal/Yummy" target="_blank"><i class="fa-brands fa-github"></i> Github</a>
                                    <a class="btn btn-primary" href="https://mo7amed-kamal.github.io/Yummy/" target="_blank"><i class="fa-solid fa-eye"></i> Demo</a>
                                </div>
                        </mat-card-actions>
                      </mat-card>

                      
                </div>
                <div class="col-md-6 col-xl-4 ">
                    <mat-card class="example-card rounded-4">
                        <div class="image-card w-100 ">
                            <img mat-card-image src="assets/img/blog/portfolio.PNG" class="w-100" alt="My-portfolio">
                        </div>
                        <mat-card-content class="my-2 card-content">
                                <h2 class="text-center">My Portfolio</h2>
                                <div class="project-tech">
                                    <h3 class="fs-5 fw-bold">Technologies:</h3>
                                    <p class="d-inline-block mb-0 px-1">HTML5</p>
                                    <p class="d-inline-block mb-0 px-1">CSS3</p>
                                    <p class="d-inline-block mb-0 px-1">TypeScript</p>
                                    <p class="d-inline-block mb-0 px-1">bootstrap5</p>
                                    <p class="d-inline-block mb-0 px-1">angular16</p>
                                    <p class="d-inline-block mb-0 px-1">Angular Material</p>
                                    <p class="d-inline-block mb-0 px-1">Primeng</p>
                                </div>
                                <div class="card-discrapion mt-3">
                                    <h4 class="fs-4 text-center fw-bold">Discription</h4>
                                    <p class=" fs-6">A portfolio is a Show your skills, qualifications, education, training, and experiences. It provides insight into your personality and work ethic,In order to be compatible with the labor market
                                    </p>
                                </div>
                        </mat-card-content>
                        <mat-card-actions>
                                <div class="butoons mx-auto d-flex gap-3 mb-2">
                                    <a class="btn btn-primary" href="" target="_blank"><i class="fa-brands fa-github"></i> Github</a>
                                    <a class="btn btn-primary" href="" target="_blank"><i class="fa-solid fa-eye"></i> Demo</a>
                                </div>
                        </mat-card-actions>
                      </mat-card>

                      
                </div>
                <div class="col-md-6 col-xl-4">
                    <mat-card class="example-card rounded-4">
                        <div class="image-card w-100 ">
                            <img mat-card-image src="assets/img/blog/weather.PNG" class="w-100" alt="weather forCast">
                        </div>
                        <mat-card-content class="my-2 card-content">
                                <h2 class="text-center">Weather Forecast</h2>
                                <div class="project-tech">
                                    <h3 class="fs-5 fw-bold">Technologies:</h3>
                                    <p class="d-inline-block mb-0 px-1">HTML5</p>
                                    <p class="d-inline-block mb-0 px-1">CSS3</p>
                                    <p class="d-inline-block mb-0 px-1">JavaScript</p>
                                    <p class="d-inline-block mb-0 px-1">bootstrap5</p>
                                    <p class="d-inline-block mb-0 px-1">Jquery</p>
                           
                                </div>
                                <div class="card-discrapion mt-3">
                                    <h4 class="fs-4 text-center  fw-bold">Discription</h4>
                                    <p class=" fs-6">The Weather-Forecast JS app is a user-friendly web tool for checking real-time weather forecasts,it uses a weather API to provide users with essential details like temperature, humidity, and wind speed.</p>
                                </div>
                        </mat-card-content>
                        <mat-card-actions>
                                <div class="butoons mx-auto d-flex gap-3 mb-2">
                                    <a class="btn btn-primary" href="https://github.com/Mo7amed-kamal/weather-website" target="_blank"><i class="fa-brands fa-github"></i> Github</a>
                                    <a class="btn btn-primary" href="https://mo7amed-kamal.github.io/weather-website/" target="_blank"><i class="fa-solid fa-eye"></i> Demo</a>
                                </div>
                        </mat-card-actions>
                      </mat-card>

                      
                </div>
                <div class="col-md-6 col-xl-4">
                    <mat-card class="example-card rounded-4">
                        <div class="image-card w-100 ">
                            <img mat-card-image src="assets/img/blog/Note.PNG" class="w-100" alt="Note App">
                        </div>
                        <mat-card-content class="my-2 card-content">
                                <h2 class="text-center">Note App</h2>
                                <div class="project-tech">
                                    <h3 class="fs-5 fw-bold">Technologies:</h3>
                                    <p class="d-inline-block mb-0 px-1">HTML5</p>
                                    <p class="d-inline-block mb-0 px-1">CSS3</p>
                                    <p class="d-inline-block mb-0 px-1">TypeScript</p>
                                    <p class="d-inline-block mb-0 px-1">bootstrap5</p>
                                    <p class="d-inline-block mb-0 px-1">Angular16</p>
                                    <p class="d-inline-block mb-0 px-1">ngx-toastr</p>

                           
                                </div>
                                <div class="card-discrapion mt-3">
                                    <h4 class="fs-4 text-center  fw-bold">Discription</h4>
                                    <p class=" fs-6">This Note App project built with Angular showcases the use of authentication, login, and register features. Users can create, modify,and delete notes with their account.</p>
                                </div>
                        </mat-card-content>
                        <mat-card-actions>
                                <div class="butoons mx-auto d-flex gap-3 mb-2">
                                    <a class="btn btn-primary" href="https://github.com/Mo7amed-kamal/App-Note" target="_blank"><i class="fa-brands fa-github"></i> Github</a>
                                    <a class="btn btn-primary" href="https://mo7amed-kamal.github.io/App-Note/#/signin" target="_blank"><i class="fa-solid fa-eye"></i> Demo</a>
                                </div>
                        </mat-card-actions>
                      </mat-card>

                      
                </div>
                <div class="col-md-6 col-xl-4">
                    <mat-card class="example-card rounded-4">
                        <div class="image-card w-100 ">
                            <img mat-card-image src="assets/img/blog/bookmark.PNG" class="w-100" alt="bookmark">
                        </div>
                        <mat-card-content class="my-2 card-content">
                                <h2 class="text-center">BookMark</h2>
                                <div class="project-tech">
                                    <h3 class="fs-5 fw-bold">Technologies:</h3>
                                    <p class="d-inline-block mb-0 px-1">HTML5</p>
                                    <p class="d-inline-block mb-0 px-1">CSS3</p>
                                    <p class="d-inline-block mb-0 px-1">JavaScript</p>
                                    <p class="d-inline-block mb-0 px-1">bootstrap5</p>

                           
                                </div>
                                <div class="card-discrapion mt-3">
                                    <h4 class="fs-4 text-center fw-bold">Discription</h4>
                                    <p class=" fs-6">Application on CRUD operations, A user-friendly website URL bookmarker that allows you to save and organize your favorite websites with ease.</p>
                                </div>
                        </mat-card-content>
                        <mat-card-actions>
                                <div class="butoons mx-auto d-flex gap-3 mb-2">
                                    <a class="btn btn-primary" href="https://github.com/Mo7amed-kamal/Bookmark" target="_blank"><i class="fa-brands fa-github"></i> Github</a>
                                    <a class="btn btn-primary" href="https://mo7amed-kamal.github.io/App-Note/#/signin" target="_blank"><i class="fa-solid fa-eye"></i> Demo</a>
                                </div>
                        </mat-card-actions>
                      </mat-card>

                      
                </div>
                <div class="col-md-6 col-xl-4">
                    <mat-card class="example-card rounded-4">
                        <div class="image-card w-100 ">
                            <img mat-card-image src="assets/img/blog/party.PNG" class="w-100" alt="party">
                        </div>
                        <mat-card-content class="my-2 card-content">
                                <h2 class="text-center">Egyption Party</h2>
                                <div class="project-tech">
                                    <h3 class="fs-5 fw-bold">Technologies:</h3>
                                    <p class="d-inline-block mb-0 px-1">HTML5</p>
                                    <p class="d-inline-block mb-0 px-1">CSS3</p>
                                    <p class="d-inline-block mb-0 px-1">JavaScript</p>
                                    <p class="d-inline-block mb-0 px-1">bootstrap5</p>
                                    <p class="d-inline-block mb-0 px-1">Jquery</p>

                           
                                </div>
                                <div class="card-discrapion mt-3">
                                    <h4 class="fs-4 text-center  fw-bold">Discription</h4>
                                    <p class=" fs-6">Certainly! Creating a compelling and informative description for your Git repository can help potential collaborators and users understand the purpose and features of your project.</p>
                                </div>
                        </mat-card-content>
                        <mat-card-actions>
                                <div class="butoons mx-auto d-flex gap-3 mb-2">
                                    <a class="btn btn-primary" href="https://github.com/Mo7amed-kamal/Party-website" target="_blank"><i class="fa-brands fa-github"></i> Github</a>
                                    <a class="btn btn-primary" href="https://mo7amed-kamal.github.io/Party-website/" target="_blank"><i class="fa-solid fa-eye"></i> Demo</a>
                                </div>
                        </mat-card-actions>
                      </mat-card>

                      
                </div>
                <div class="col-md-6 col-xl-4">
                    <mat-card class="example-card rounded-4">
                        <div class="image-card w-100 ">
                            <img mat-card-image src="assets/img/blog/crud.PNG" class="w-100" alt="Crud System">
                        </div>
                        <mat-card-content class="my-2 card-content">
                                <h2 class="text-center">Crud System</h2>
                                <div class="project-tech">
                                    <h3 class="fs-5 fw-bold">Technologies:</h3>
                                    <p class="d-inline-block mb-0 px-1">HTML5</p>
                                    <p class="d-inline-block mb-0 px-1">CSS3</p>
                                    <p class="d-inline-block mb-0 px-1">JavaScript</p>
                                    <p class="d-inline-block mb-0 px-1">LocalStorge</p>
                                    <p class="d-inline-block mb-0 px-1">bootstrap5</p>
                           
                                </div>
                                <div class="card-discrapion mt-3">
                                    <h4 class="fs-4 text-center  fw-bold">Discription</h4>
                                    <p class=" fs-6">Our CRUD system provides a simple yet effective solution for managing data with basic CRUD operations, this system allows users to create, read, update, and delete records stored locally using LocalStorage

                                    </p>
                                </div>
                        </mat-card-content>
                        <mat-card-actions>
                                <div class="butoons mx-auto d-flex gap-3 mb-2">
                                    <a class="btn btn-primary" href="https://github.com/Mo7amed-kamal/Crud-Operations" target="_blank"><i class="fa-brands fa-github"></i> Github</a>
                                    <a class="btn btn-primary" href="https://mo7amed-kamal.github.io/Crud-Operations/" target="_blank"><i class="fa-solid fa-eye"></i> Demo</a>
                                </div>
                        </mat-card-actions>
                      </mat-card>

                      
                </div>
                <div class="col-md-6 col-xl-4">
                    <mat-card class="example-card rounded-4">
                        <div class="image-card w-100 ">
                            <img mat-card-image src="assets/img/blog/smart-login.PNG" class="w-100" alt="smart-login">
                        </div>
                        <mat-card-content class="my-2 card-content">
                                <h2 class="text-center">Smart Login</h2>
                                <div class="project-tech">
                                    <h3 class="fs-5 fw-bold">Technologies:</h3>
                                    <p class="d-inline-block mb-0 px-1">HTML5</p>
                                    <p class="d-inline-block mb-0 px-1">CSS3</p>
                                    <p class="d-inline-block mb-0 px-1">JavaScript</p>
                                    <p class="d-inline-block mb-0 px-1">bootstrap5</p>
                                </div>
                                <div class="card-discrapion mt-3">
                                    <h4 class="fs-4 text-center  fw-bold">Discription</h4>
                                    <p class=" fs-6">This system consists of: Sign-up form for users to register with a unique email address, name, and password,
                                    Sign-in form for logging in with email and password, Home page displaying the user's name upon successful sign-in.</p>
                                </div>
                        </mat-card-content>
                        <mat-card-actions>
                                <div class="butoons mx-auto d-flex gap-3 mb-2">
                                    <a class="btn btn-primary" href="https://github.com/Mo7amed-kamal/Smart-Login" target="_blank"><i class="fa-brands fa-github"></i> Github</a>
                                    <a class="btn btn-primary" href="https://mo7amed-kamal.github.io/Smart-Login/" target="_blank"><i class="fa-solid fa-eye"></i> Demo</a>
                                </div>
                        </mat-card-actions>
                      </mat-card>

                      
                </div>
                <div class="col-md-6 col-xl-4">
                    <mat-card class="example-card rounded-4">
                        <div class="image-card w-100 ">
                            <img mat-card-image src="assets/img/blog/mealfiy.PNG" class="w-100" alt="mealfiy">
                        </div>
                        <mat-card-content class="my-2 card-content">
                                <h2 class="text-center">Mealify</h2>
                                <div class="project-tech">
                                    <h3 class="fs-5 fw-bold">Technologies:</h3>
                                    <p class="d-inline-block mb-0 px-1">HTML5</p>
                                    <p class="d-inline-block mb-0 px-1">CSS3</p>
                                    <p class="d-inline-block mb-0 px-1">JavaScript</p>
                                    <p class="d-inline-block mb-0 px-1">bootstrap5</p>
                                </div>
                                <div class="card-discrapion mt-3">
                                    <h4 class="fs-4 text-center  fw-bold">Discription</h4>
                                    <p class=" fs-6">Simple responsive website with dark-mode feature.</p>
                                </div>
                        </mat-card-content>
                        <mat-card-actions>
                                <div class="butoons mx-auto d-flex gap-3 mb-2">
                                    <a class="btn btn-primary" href="https://github.com/Mo7amed-kamal/Mealify" target="_blank"><i class="fa-brands fa-github"></i> Github</a>
                                    <a class="btn btn-primary" href="https://mo7amed-kamal.github.io/Mealify/#home" target="_blank"><i class="fa-solid fa-eye"></i> Demo</a>
                                </div>
                        </mat-card-actions>
                      </mat-card>

                      
                </div>
                <div class="col-md-6 col-xl-4">
                    <mat-card class="example-card rounded-4">
                        <div class="image-card w-100 ">
                            <img mat-card-image src="assets/img/blog/Daniels.PNG" class="w-100" alt="Daniels">
                        </div>
                        <mat-card-content class="my-2 card-content">
                                <h2 class="text-center">Daniels</h2>
                                <div class="project-tech">
                                    <h3 class="fs-5 fw-bold">Technologies:</h3>
                                    <p class="d-inline-block mb-0 px-1">HTML5</p>
                                    <p class="d-inline-block mb-0 px-1">CSS3</p>
                                    <p class="d-inline-block mb-0 px-1">bootstrap5</p>
                                </div>
                                <div class="card-discrapion mt-3">
                                    <h4 class="fs-4 text-center  fw-bold">Discription</h4>
                                    <p class="fs-6">Welcome to Daniels' Portfolio Website! This project showcases the skills.</p>
                                </div>
                        </mat-card-content>
                        <mat-card-actions>
                                <div class="butoons mx-auto d-flex gap-3 mb-2">
                                    <a class="btn btn-primary" href="https://github.com/Mo7amed-kamal/Daniels-website" target="_blank"><i class="fa-brands fa-github"></i> Github</a>
                                    <a class="btn btn-primary" href="https://mo7amed-kamal.github.io/Daniels-website/" target="_blank"><i class="fa-solid fa-eye"></i> Demo</a>
                                </div>
                        </mat-card-actions>
                      </mat-card>

                      
                </div>
                <div class="col-md-6 col-xl-4">
                    <mat-card class="example-card rounded-4">
                        <div class="image-card w-100 ">
                            <img mat-card-image src="assets/img/blog/kasper.PNG" class="w-100" alt="kasper">
                        </div>
                        <mat-card-content class="my-2 card-content">
                                <h2 class="text-center">Kasper</h2>
                                <div class="project-tech">
                                    <h3 class="fs-5 fw-bold">Technologies:</h3>
                                    <p class="d-inline-block mb-0 px-1">HTML5</p>
                                    <p class="d-inline-block mb-0 px-1">CSS3</p>
                                </div>
                                <div class="card-discrapion mt-3">
                                    <h4 class="fs-4 text-center  fw-bold">Discription</h4>
                                    <p class=" fs-6">Kasper is a sleek and modern website designed to showcase various aspects of a project or personal portfolio.</p>
                                </div>
                        </mat-card-content>
                        <mat-card-actions>
                                <div class="butoons mx-auto d-flex gap-3 mb-2">
                                    <a class="btn btn-primary" href="https://github.com/Mo7amed-kamal/Kasper.design" target="_blank"><i class="fa-brands fa-github"></i> Github</a>
                                    <a class="btn btn-primary" href="https://mo7amed-kamal.github.io/Kasper.design/" target="_blank"><i class="fa-solid fa-eye"></i> Demo</a>
                                </div>
                        </mat-card-actions>
                      </mat-card>

                      
                </div>
                <div class="col-md-6 col-xl-4">
                    <mat-card class="example-card rounded-4">
                        <div class="image-card w-100 ">
                            <img mat-card-image src="assets/img/blog/Dashboard.PNG" class="w-100" alt="Dashboard">
                        </div>
                        <mat-card-content class="my-2 card-content">
                                <h2 class="text-center">Dashboard design</h2>
                                <div class="project-tech">
                                    <h3 class="fs-5 fw-bold">Technologies:</h3>
                                    <p class="d-inline-block mb-0 px-1">HTML5</p>
                                    <p class="d-inline-block mb-0 px-1">CSS3</p>
                                </div>

                        </mat-card-content>
                        <mat-card-actions>
                                <div class="butoons mx-auto d-flex gap-3 mb-2">
                                    <a class="btn btn-primary" href="https://github.com/Mo7amed-kamal/Dashboard-Design" target="_blank"><i class="fa-brands fa-github"></i> Github</a>
                                    <a class="btn btn-primary" href="https://mo7amed-kamal.github.io/Dashboard-Design/index.html" target="_blank"><i class="fa-solid fa-eye"></i> Demo</a>
                                </div>
                        </mat-card-actions>
                      </mat-card>

                      
                </div>
                <div class="col-md-6 col-xl-4">
                    <mat-card class="example-card rounded-4">
                        <div class="image-card w-100 ">
                            <img mat-card-image src="assets/img/blog/avanger.PNG" class="w-100" alt="Avengers">
                        </div>
                        <mat-card-content class="my-2 card-content">
                                <h2 class="text-center">Avengers</h2>
                                <div class="project-tech">
                                    <h3 class="fs-5 fw-bold">Technologies:</h3>
                                    <p class="d-inline-block mb-0 px-1">HTML5</p>
                                    <p class="d-inline-block mb-0 px-1">CSS3</p>
                                </div>

                        </mat-card-content>
                        <mat-card-actions>
                                <div class="butoons mx-auto d-flex gap-3 mb-2">
                                    <a class="btn btn-primary" href="https://github.com/Mo7amed-kamal/Avengers_Template" target="_blank"><i class="fa-brands fa-github"></i> Github</a>
                                    <a class="btn btn-primary" href="https://mo7amed-kamal.github.io/Avengers_Template/" target="_blank"><i class="fa-solid fa-eye"></i> Demo</a>
                                </div>
                        </mat-card-actions>
                      </mat-card>

                      
                </div>

                

            </div>
        </div>




    </section>

