  <!-- start skills -->
  <section class="skills" id="skills">
    <div class="title text-center p-3" data-aos="fade-up">
      <h2 class="main-title"> My Skills</h2>
    </div>
    <div class="background">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
  </div>
  <div class="glow-skill"></div>
    <div class="mouse-effect" id="mouse-effect" data-aos="fade-up"
    data-aos-duration="3000">
      <img src="assets/img/skills/skills-1.png" alt="" class="layer" data-speed="-5">
      <img src="assets/img/skills/skills-2.png" alt="" class="layer" data-speed="-2">
      <img src="assets/img/skills/skills-3.png" alt="" class="layer" data-speed="-6">
      <img src="assets/img/skills/skills-4.png" alt="" class="layer" data-speed="3">
      <img src="assets/img/skills/skills-5.png" alt="" class="layer" data-speed="8">
      <img src="assets/img/skills/skills-6.png" alt="" class="layer" data-speed="6">
      <h2>SKILLS</h2>
    </div>
  <div class="container">
    <div class="row ">
        <div class="skills-box d-flex justify-content-center align-items-center py-5 mx-auto" data-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine">
          <div class="skill"><img src="assets/img/skills/html-icon.webp" alt="Html" icon title="Html"></div>
          <div class="skill"><img src="assets/img/skills/css-icon.webp" alt="Css" icon title="Css"></div>
          <div class="skill"><img src="assets/img/skills/js.webp" alt="javaScript" icon title="javaScript"></div>
          <div class="skill"><img src="assets/img/skills/bootstrap.webp" alt="Bootstrap" icon title="Bootstrap"></div>
          <div class="skill"><img src="assets/img/skills/sass.webp" alt="Sass" icon title="Sass"></div>
          <div class="skill"><img src="assets/img/skills/jquery.webp" alt="jquery" icon title="jquery"></div>
          <div class="skill"><img src="assets/img/skills/typescript.webp" alt="typescript" icon title="Typescript"></div>
          <div class="skill"><img src="assets/img/skills/angular-icon.webp" alt="Angular" icon title="Angular"></div>
          <div class="skill"><img src="assets/img/skills/angular-material.webp" alt="Angular-material" icon title="Angular-material"></div>
          <div class="skill"><img src="assets/img/skills/primeng.webp" alt="Primeng" icon title="Primeng"></div>
          <div class="skill"><img src="assets/img/skills/ang-matrial.png" alt="Angular" icon title="Angular"></div>
          <div class="skill"><img src="assets/img/skills/git.webp" alt="Git" icon title="Git"></div>
          <div class="skill"><img src="assets/img/skills/githup.png" alt="Githup" icon title="Githup"></div>
        </div>

        <div class="py-3 mx-auto">
        <div class="title text-center p-1">
          <h2 class="main-title">I'm Currently Learning <i class="fa-solid fa-code"></i></h2>
        </div>

        <div class="skills-boxx d-flex justify-content-center align-items-center" data-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine">
          <div class="skill"><img src="assets/img/skills/RxJs.webp" alt="RxJs" icon title="RxJs"></div>
          <div class="skill"><img src="assets/img/skills/ngrx.webp" alt="ngrx" icon title="Ngrx"></div>
          <div class="skill"><img src="assets/img/skills/tailwind.webp" alt="tailwind" icon title="Tailwind"></div>
        </div>
        </div>
</div>
</div>


  </section>
  