@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
:root{
    --bg-color:#e3edf7;
    --gradient-white-bg:linear-gradient(0deg,#fff 0%,#edf4fa 51%,#e5eef7 100%);
    --gradient-color-bg:linear-gradient(180deg,rgba(247,1,120,1)0%,
                                                rgba(160,8,156,1)51%,
                                                rgba(99,13,178,1)100%);
    --main-color:#e6006d;
    --font-color:#90979f;
    --hover-box-shadow:rgba(0,0,0,0.19)0px 10px 20px,
                       rgba(0,0,0,0.23)0px 6px 6px;     
    --gradient-white-bg2:linear-gradient(98deg,#e5eef7 0%,#fff 100%);
}
body{
    font-family: "Roboto", sans-serif;
    background: var(--bg-color);
    overflow-x: hidden;
    scroll-behavior: smooth;

}
a{
    text-decoration: none;
    color: #000;
}
.butt{
    background: var(--gradient-color-bg);
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: 500;
    transition: all .3s ease;
    text-decoration: none;
}
.butt:hover{
    box-shadow: var(--hover-box-shadow);
}
html, body { height: 100%; }


/* Design scrollbar */
::-webkit-scrollbar{
    width: 10px;
}
  ::-webkit-scrollbar-track{
    background-color: var(--gradient-white-bg2);
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background: var(--gradient-color-bg);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.up-btn {
    position: fixed;
    right: 15px;
    bottom: 10px;
    background: var(--gradient-color-bg);
    color: white;
    font-size: 17px;
    z-index: 2000;
}
.btn:hover {
    --bs-btn-hover-color: white;
}

